<div class="container bg">
	
	<div class="row">
	    <div class="center col-sm-12">
	        <h1>Burger Time </h1>
			<h1> Part II</h1>
	       </div>
  	</div>
	
	{{!-- burger lists_____________________________________________ --}}
	<div class="row main">
	    <div class="col-sm-4 cooked">

			<br>
			<h2>Yummy!! Burgers to Eat!</h2>
			<br>
			<ul>
			  {{#each burgers}}
			    {{#unless this.devoured}}
			      <li>
			      	<div>
					  
			        {{this.burger_name}}
					</div>
					<div>
			       <form action="/{{this.id}}?_method=PUT" method="POST">
			          <input type="hidden" name="devoured" value="true">
			          <button class="btn" id="thrash" type="submit">Eat!!</button>
			        </form>
					</div>
			      </li>
			    {{/unless}}
			  {{/each}}
			</ul>

	    </div>

	    <div class="col-sm-4 eaten">

			<h2>Burger wrappers</h2>
			 
			  {{#each burgers}}
			    {{#if this.devoured}}
			      <li>
			      	
			        {{this.burger_name}}

			      </li>
			    {{/if}}
			  {{/each}}
			<form action="/delete">
			          <input type="hidden"  >
			          <button class="btn" id="thrash" type="submit">Empty Thrash Can</button>
			        </form>
	    </div>

  	</div>
	<!-- end .row -->

	<div class="row">
	    <div class="center col-sm-12 add_food">

			<h2>Cook A Burger!</h2>

			<form class="create-update-form" action="/" method="POST">

			  <div class="form-group">
			    <p>Enter a burger you want to order and click the Submit Order button.</p>
			    <input type="text" id="AddBurger" name="burger_name">
			  </div>
			  
			  <button class="btn-primary" type="submit">Submit Order</button>
			</form>

	    </div>
	 	<img src="/assets/img/wimpy.png" class="wimpy">
  	</div>
	<!-- end .row -->

</div>