
<h1>Burger Time   Part II</h1>

<div class="container">
  <div class="row main">  
	<div class=" cooked col-sm-4 eat">
		{{!-- eat---------------- --}}
		<h2>Yummy!! Burgers to Eat!</h2>
        <ul>
                {{#each burgers}}
                    {{#unless this.devoured}}
            <li>
                {{this.burger_name}}
            {{!-- move to trash  --}}
            <form action="/{{this.id}}?_method=PUT" method="POST"  >
                <input type="hidden" name="devoured" value="true" ></input>
                <button class="btn eatButton" id="thrash" type="submit">Eat!!</button>
            </form>
            </li>
                {{/unless}}
                {{/each}}
        </ul>
    </div> 
		{{!-- cook --}}
	<div class="col-sm-3 addFood">
      	<h2>Cook A Burger!</h2>
	  	<form class="create-update-form" action="/" method="POST">
		    <div class="form-group">
			<p>Enter a burger you want to order and click the Submit Order button.</p>
			<input type="text" id="AddBurger" name="burger_name" class="eatButton">
			</div>
			<button class="btn-primary" type="submit">Grill Time</button>
		</form>
		<img src="/assets/img/wimpy.png" class="wimpy">
	</div>


        <div class=" eaten col-sm-4">
			<h2>Burger wrappers</h2>
			<form action="/delete">
                <input type="hidden"  >
                <button class="btn eatButton" id="thrash" type="submit">Empty Thrash Can</button>
            </form>
            
                {{#each burgers}}
                {{#if this.devoured}}
            <li>
                {{this.burger_name}}
            </li>
                {{/if}}
                {{/each}}
            
        </div>    
  
					
				</form>
			 
			</div>
			
    </div>
  </div>
</div>