body { 
	background-color: #797318; 
}
.main{
	
	background-image: url("../img/burger.png");
	background-repeat: no-repeat;
	background-position: 50% 30%;
}
h1 {
	font-family: future;
	font-size: 7vw;
	border: 0px;
	text-align: center;
	color: rgb(133, 13, 37);
	background-color: rgba(245, 245, 245, 0.51);
	width: 100vw;
	padding: 0;
	margin: 2% 0;
	line-height: 10vh;
	height: 10vh;
}

h2 {
	text-align: center;
	color: hsl(46, 40%, 20%);
	font-weight: 600;
	background-color: rgb(206, 52, 25);
	border-radius: 20px;
	font-size: 2.5vw;
}
p{
    color: rgb(13, 181, 13);
    background: hsl(46, 40%, 20%);
    padding: 5px;
}
li {
    width: 100%;
    padding: 3px;
    color: rgb(13, 181, 13);
    background: hsl(46, 40%, 20%);
    list-style: none;
    font-size: 2.5vw;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr;
      grid-column-gap: 0px;
      grid-row-gap: 0px;
      }

.eatButton{
	color: wheat;
	background-color: rgb(120, 24, 7);
}
.wimpy{
    height: 40vh;
}

@font-face {
	font-family: future;
	src: url(../fonts/SFAlienEncounters.ttf);
  }

  @media screen and (max-width: 575px) {
    h2{
        font-size: 5vw;
    }
    li{
        font-size: 4vw;
    }
    h1{
        font-size: 8vw;
    }

  }

